Repository WillyNilsson/ProGuardian, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vibecoders/maintainers, @vibecoders/guardian-experts, @vibecoders/devops, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: apply Prettier formatting to README.md
  README.md
Owners: @vibecoders/docs, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: add Windows compatibility for path handling
  src/utils/errors.js
  src/utils/validation.js
  test/helpers/test-utils.js
  test/utils/validation.test.js
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

style: fix prettier formatting issues
  src/utils/validation.js
  test/utils/validation.test.js
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: handle TruffleHog scan on initial commits
  .github/workflows/security.yml
Owners: @vibecoders/devops, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

test: improve coverage to 71%+ and fix formatting
  test/commands/install-wrapper-coverage.test.js
  test/commands/install-wrapper.test.js
  test/integration/coverage-boost.test.js
  test/utils/cli-detector-coverage.test.js
  test/utils/cli-detector-extended.test.js
  test/utils/errors-coverage.test.js
  test/utils/errors.test.js
  test/utils/file-security-execute.test.js
  test/utils/file-security-minimal.test.js
  test/utils/file-security.test.js
  test/wrapper/claude-wrapper.test.js
Owners: @vibecoders/maintainers

style: fix security workflow formatting
  .github/workflows/security.yml
Owners: @vibecoders/devops, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: resolve test failures and import errors
  src/utils/errors.js
  test/commands/install-wrapper-coverage.test.js
  test/commands/install-wrapper.test.js
  test/integration/coverage-boost.test.js
  test/utils/errors-coverage.test.js
  test/utils/errors.test.js
  test/utils/file-security-execute.test.js
  test/utils/file-security-minimal.test.js
  test/utils/file-security.test.js
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: improve error handling and test coverage per Guardian review
  GUARDIAN_REVIEW_FIXES.md
  src/utils/errors.js
  test/utils/errors.test.js
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

feat: strengthen Guardian enforcement with explicit protocols
  CLAUDE.md
  GEMINI.md
  templates/CLAUDE.md
  templates/GEMINI.md
Owners: @vibecoders/guardian-experts, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

feat: upgrade to Guardian 2.0 protocol with enhanced safety rails
  CLAUDE.md
  GEMINI.md
  GUARDIAN_REVIEW_FIXES.md
  templates/CLAUDE.md
  templates/GEMINI.md
Owners: @vibecoders/guardian-experts, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update README for Guardian 2.0 and fix lint errors
  README.md
  package.json
  src/utils/errors.js
Owners: @vibecoders/docs, @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: remove placeholder tests and update documentation for Guardian 2.0
  CLAUDE.md
  GEMINI.md
  README.md
  package.json
  src/utils/errors.js
  templates/CLAUDE.md
  templates/GEMINI.md
  test/commands/install-wrapper-coverage.test.js
  test/commands/install-wrapper.test.js
  test/integration/coverage-boost.test.js
  test/utils/cli-detector-coverage.test.js
  test/utils/cli-detector-extended.test.js
  test/utils/errors-coverage.test.js
  test/utils/errors.test.js
  test/utils/file-security-execute.test.js
  test/utils/file-security-minimal.test.js
  test/utils/file-security.test.js
  test/wrapper/claude-wrapper.test.js
Owners: @vibecoders/guardian-experts, @vibecoders/maintainers, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

0.2.1
  package-lock.json
  package.json
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

feat: reduce Guardian templates by 75% using structured format
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  bin/proguardian.js
  eslint.config.js
  package.json
  src/commands/check.js
  src/commands/init.js
  src/commands/install-wrapper.js
  src/utils/cli-detector.js
  src/utils/errors.js
  src/utils/index.js
  src/utils/logger.js
  src/wrapper/gemini-wrapper.js
  templates/CLAUDE.md
  templates/GEMINI.md
  test/commands/install-wrapper-coverage.test.js
  test/utils/cli-detector-coverage.test.js
  test/utils/cli-detector-extended.test.js
  test/utils/errors.test.js
  test/wrapper/claude-wrapper.test.js
Owners: @vibecoders/maintainers, @vibecoders/guardian-experts, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: resolve CI/CD issues
  src/utils/cli-detector.js
  templates/CLAUDE.md
  templates/GEMINI.md
  test/utils/cli-detector-coverage.test.js
  test/utils/cli-detector-extended.test.js
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

.github/CODEOWNERS:

# CODEOWNERS for ProGuardian CLI
# These owners will be requested for review when someone opens a pull request

# Global owners
* @vibecoders/maintainers

# Guardian prompt changes require careful review
/src/data/guardian-prompt.js @vibecoders/guardian-experts @vibecoders/maintainers

# CI/CD and security workflows
/.github/workflows/ @vibecoders/devops @vibecoders/maintainers
/.github/dependabot.yml @vibecoders/devops @vibecoders/maintainers

# Core functionality
/src/commands/ @vibecoders/maintainers
/bin/ @vibecoders/maintainers

# Documentation
/README.md @vibecoders/docs @vibecoders/maintainers
/CONTRIBUTING.md @vibecoders/docs @vibecoders/maintainers
/CLAUDE.md @vibecoders/guardian-experts @vibecoders/maintainers

# Package configuration
/package.json @vibecoders/maintainers
/package-lock.json @vibecoders/maintainers
