Repository WillyNilsson/ProGuardian, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vibecoders/maintainers, @vibecoders/guardian-experts, @vibecoders/devops, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

style: apply Prettier formatting
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  src/commands/install-wrapper.js
  src/utils/cli-detector.js
  src/utils/index.js
  src/utils/logger.js
  src/wrapper/claude-wrapper.js
  src/wrapper/gemini-wrapper.js
  templates/CLAUDE.md
  templates/GEMINI.md
  test/commands/install-wrapper-coverage.test.js
Owners: @vibecoders/maintainers, @vibecoders/guardian-experts, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

feat: enhance npm-GitHub integration
  .github/FUNDING.yml
  .github/workflows/npm-publish.yml
  README.md
  package.json
Owners: @vibecoders/maintainers, @vibecoders/devops, @vibecoders/docs

docs: add helpful command examples to README
  CHANGELOG.md
  README.md
  bin/proguardian.js
  package.json
  src/commands/install-wrapper.js
  src/utils/index.js
  src/utils/version-check.js
  src/wrapper/claude-wrapper.js
  src/wrapper/gemini-wrapper.js
  test/commands/install-wrapper-coverage.test.js
  test/utils/version-check.test.js
Owners: @vibecoders/maintainers, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: resolve CI/CD issues and add version check feature
  CHANGELOG.md
  README.md
  package.json
  src/commands/install-wrapper.js
  src/utils/version-check.js
  test/commands/install-wrapper-coverage.test.js
  test/utils/version-check.test.js
Owners: @vibecoders/maintainers, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

style: apply Prettier formatting
  .github/FUNDING.yml
  .github/workflows/npm-publish.yml
  README.md
  package.json
  src/utils/version-check.js
  test/utils/version-check.test.js
Owners: @vibecoders/maintainers, @vibecoders/devops, @vibecoders/docs

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

refactor: remove overly restrictive code metrics from Guardian protocol
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  package.json
  templates/CLAUDE.md
  templates/GEMINI.md
Owners: @vibecoders/maintainers, @vibecoders/guardian-experts

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

style: fix package.json formatting
  package.json
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

fix: package.json formatting
  package.json
Owners: @vibecoders/maintainers

1.0.1
  package-lock.json
  package.json
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

chore: update badge timestamp [skip ci]
  .github/BADGE_UPDATE
Owners: @vibecoders/maintainers

.github/CODEOWNERS:

# CODEOWNERS for ProGuardian CLI
# These owners will be requested for review when someone opens a pull request

# Global owners
* @vibecoders/maintainers

# Guardian prompt changes require careful review
/src/data/guardian-prompt.js @vibecoders/guardian-experts @vibecoders/maintainers

# CI/CD and security workflows
/.github/workflows/ @vibecoders/devops @vibecoders/maintainers
/.github/dependabot.yml @vibecoders/devops @vibecoders/maintainers

# Core functionality
/src/commands/ @vibecoders/maintainers
/bin/ @vibecoders/maintainers

# Documentation
/README.md @vibecoders/docs @vibecoders/maintainers
/CONTRIBUTING.md @vibecoders/docs @vibecoders/maintainers
/CLAUDE.md @vibecoders/guardian-experts @vibecoders/maintainers

# Package configuration
/package.json @vibecoders/maintainers
/package-lock.json @vibecoders/maintainers
